.homepage #catAbb,
.homepage #go,
.homepage .leftlinks #cl_app_beta,
.no-js,
p.more {
  display: none;
}

#logo {
  font-size: 2.5rem;
}

.homepage-search .querybox {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #464646;
  font-size: 16px;
}

.menu.collapsible > li {
  cursor: pointer;
}

.menu.collapsible > li.expand.s ul {
  display: block;
}

.menu.collapsible > li ul {
  display: none;
}

/* Write your CSS here. */
* {
  font: 'Helvetica Neue';
  background-color: #f5f5f5;
  color: #464646;
}

a {
  text-decoration: underline;
}

ul {
  padding: 0px;
}

ul > li {
  list-style: none;
}

a:visited {
  color: #800080;
}

a:hover {
  color: #800080;
  font-weight: bold;
}

a > span:hover {
  font-weight: bold;
  color: #800080;
}

.page-container {
  max-width: 1200px;
}

#leftbar,
#center,
#rightbar {
  float: left;
  padding: 0px, 30px;
  box-sizing: border-box;
}

footer {
  clear: both;
}